.list-group {
  position: absolute;
  top: 100%;
  width: 100%;
  overflow-y: auto;
  height: 400px;
  z-index: 10;
}

.box-search {
  max-width: 700px;
}

.logo {
  .logo-stars {
    font-weight: 500;
    color: #5152b7;
  }
}