.profile-image {
  max-width: 120px;
}

.icon {
  width: 20px;
  text-align: center;
  display: inline-block;
}

.sidebar-avatar {
  background: #4a4ba6;
  color: #fff;
}

.sidebar-bio {
  background: #5152b7;
  color: #fff;
  .link {
    color: inherit;
  }
}