@for $i from 1 through 100 {
  @if $i % 10 == 0 {
    .height-full-#{$i} {
      height: #{$i}vh;
    }
  }
}

.c-pointer {
  cursor: pointer;
}

@keyframes spin {
  from { transform:rotate(0deg) }
  to { transform:rotate(360deg) }
}

.spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

